@import url('https://fonts.googleapis.com/css?family=Courier+Prime|Roboto+Mono:400,700&display=swap');
body {
  background-image: url("../img/background-large.jpg");
  background-repeat: no-repeat;
  background-position: 55% 45%;
  background-size: 500%;
  background-color: #060909;
  text-align: center;
  margin: 0 auto;
  color: #ECECEC;
  font-family: "Roboto Mono";
}
@keyframes flashIntro {
  0% {
    background-color: rgba(255,255,255,1);
    width: 10%;
    color: black;
  }
  100% {
    background-color: rgba(10,10,10,0.3);
    width: 75%;
    color: #ECECEC;
  }
}
.main_head {
  display: flex;
  justify-content: center;
  animation: 0.7s ease-out 0s 1 flashIntro;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  font-weight: 700;
  background-color: rgba(10,10,10,0.3);
  margin: 0 auto;
  margin-top: 5%;
  width: 75%;
  height: 30%;
  padding: 3% 6% 3% 6%;
  font-size: 4vw;
  transition: 1s;
}
.sub_head {
  margin: 0 auto;
  margin-top: 3vh;
  padding: 3%;
  font-size: 70%;
  background-color: rgba(5,5,5,0.3);
  width: 90%;
  transition: 1s;
}
.main_head:hover, .sub_head:hover {
  transition: 1s;
  background-color: rgba(255,255,255,1);
  color: black;
}
.main_container {
  margin: 0 auto;
  width: 85%;
  height: 85%;
  margin-top: 8%;
  padding: 2% 5% 5% 5%;
  background-color: rgba(10, 10, 10, 0.8);
}
h1 {
  font-size: 90%;
  margin: 2vh 0 4vh 0;
}
label {
  margin-right: 1vw;
  font-size: 80%;
}
.entry_container {
  text-align: right;
  margin-right: 10%;
}
.entry {
  margin-top: 2vh;
  width: 45vw;
  height: 5vh;
  text-align: left;
  background-color: rgba(0,0,0,0.9);
  color: #ECECEC;
  border: 0px;
  font-size: 50%;
  padding-left: 1%;
  font-family: "Courier Prime";
}
.entry::placeholder {
  font-size: 80%;
}
.sub_button {
  margin-top: 5vh;
  height: 7vh;
  width: 30vw;
  background-color: rgba(0,0,0,0.9);
  color: #ECECEC;
  border: 0px;
  transition: 0.5s;
}
.sub_button:hover {
  background-color: rgba(40,40,60,0.9);
}
.alert_container {
  display: none;
  position: fixed;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0,0,0,0.6);
}
.alert_box {
  position: fixed;
  width: 70%;
  height: 30%;
  top: 10%;
  left: 15%;
  background: rgb(20,20,20);
}
.alert_text {
  font-size: 80%;
  margin-top: 20%;
}
.alert_ack {
  position: relative;
  text-align: center;
  width: 50%;
  height: 20%;
  top: 15%;
  left: 25%;
  background: rgb(40,40,40);
  transition: 0.4s;
}
.alert_ack p {
  position: relative;
  top: 25%;
}
.alert_ack:hover {
  background-color: rgb(40,40,60);
}
/*Tablet Upscaling*/
@media only screen and (min-width: 768px) {
  .sub_head {
    font-size: 110%;
  }
  .entry {
    font-size: 110%;
  }
  .entry_container {
    text-align: right;
    margin-right: 15%;
  }
  .main_container {
    margin-top: 4%;
  }
}
/*Desktop Upscaling*/
@media only screen and (min-width: 1024px) {
  body {
    background-size: cover;
    background-position: center;
  }
  .main_head {
    margin-top: 2%;
    font-size: 3vw;
    padding: 1% 5% 1% 5%;
  }
  .main_container {
    margin: 0 auto;
    width: 75%;
    margin-top: 2%;
    padding-bottom: 3%;
    background-color: rgba(10, 10, 10, 0.6);
  }
  .sub_head {
    font-size: 150%;
    padding: 1%;
  }
  h1 {
    font-size: 200%;
  }
  label {
    font-size: 130%;
  }
  .entry_container {
    margin-right: 29%;
  }
  .entry {
    margin-top: 2vh;
    width: 30vw;
    height: 5vh;
    font-size: 110%;
  }
  .sub_button {
    margin-top: 6vh;
    height: 7vh;
    width: 15vw;
    font-size: 125%;
  }
  .alert_box {
    width: 40%;
    top: 10%;
    left: 30%;
    background: rgb(20,20,20);
  }
  .alert_text {
    font-size: 100%;
    margin-top: 10%;
  }
  .alert_ack {
    position: relative;
    text-align: center;
    width: 30%;
    height: 20%;
    top: 20%;
    left: 35%;
    background: rgb(40,40,40);
  }
  .alert_ack p {
    position: relative;
    top: 35%;
  }
}
/*Large Screen Upscaling*/
@media only screen and (min-width: 1920px) {
  .entry {
    font-size: 160%;
  }
}
